
%display {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.container {
  width: 100%;
  height: 100vh;
  @extend %display;

  .technologies {
    .technologies-header {
      margin-bottom: 42px;
    }
    .technologies-content {
      @extend %display;
      margin-bottom: 54px;
    }
  }

  .group-actions {
    @extend %display;
    flex-direction: row;
    margin-bottom: 24px;
  }
}